name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
    # 1. Checkout repo
    - uses: actions/checkout@v4

    # 2. Setup Flutter
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0' # sesuaikan versi Flutter kamu

    # 3. Install dependencies
    - name: Install dependencies
      run: flutter pub get

    # 4. Build iOS
    - name: Build iOS
      run: |
        cd ios
        flutter build ipa --release --no-codesign
